.mode-card {
  width: 100%;
  min-height: 110px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  transition: all 0.35s ease;
  overflow: hidden;
  text-decoration: none;
  color: var(--text);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.mode-card h2 {
  font-size: 40px;
  margin: 0;
}

.short-text {
  margin-top: 10px;
  font-size: 30px;
  opacity: 1;
}

.long-text {
  margin-top: 14px;
  font-size: 30px;
  line-height: 1.5;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 0.3s ease, max-height 0.35s ease;
}

.mode-card:hover {
  transform: translateY(-6px);
  min-height: 280px;
}

.mode-card:hover .long-text {
  opacity: 1;
  max-height: 400px;
}
