<div class="friends-layout">
  <header class="topbar">
    <a class="brand" routerLink="/home">
      <img src="logo.png" alt="Chess AI Mate Logo" class="logo-img">
    </a>
  </header>

  <main class="friends">
    <h1>Play online</h1>

    <button (click)="queueUp()" [disabled]="isQueued" class="queue-btn">
      {{ isQueued ? 'Waiting for opponent...' : 'Queue Up' }}
    </button>

    <div class="game-area">
      <app-multiplayer-chessboard></app-multiplayer-chessboard>
    </div>
  </main>

</div>
