<div class="board">
  <div class="row" *ngFor="let row of board; let r = index">
    <div class="square"
         *ngFor="let cell of row; let c = index"
         [class.dark]="(r+c) % 2 === 1"
         [class.highlight]="highlightClass(r, c)"
         [attr.draggable]="cell ? true : null"
         (dragstart)="dragStart(r, c, $event)"
         (dragover)="allowDrop($event)"
         (drop)="drop(r, c, $event)"
         (click)="onSquareClick(r, c)">
      <img *ngIf="getCell(r, c)" [src]="getPieceImage(getCell(r, c))" alt="">
    </div>
  </div>
</div>

<div class="promotion-modal" *ngIf="promotionData">
  <div class="promotion-box">
    <div (click)="selectPromotion('q')">♕</div>
    <div (click)="selectPromotion('r')">♖</div>
    <div (click)="selectPromotion('b')">♗</div>
    <div (click)="selectPromotion('n')">♘</div>
  </div>
</div>
